body{
	padding-top: 50px;
	background: 
		/*linear-gradient adds transparent color overlay on img*/
		linear-gradient(
			rgba(81, 177, 194, 0.5),
			rgba(81, 177, 194, 0.5)
		), 
		url("assets/wave4.jpg"),
		repeat;
}

h1 {
	color: white;
	text-align: left;
	font-weight: bold;
	padding-bottom: 3%;
}

p {
	color: white;
}

.navbar {
	width: 100%;
	border-radius: 0px;
	background-color: rgba(0, 31, 66, 1); 
}
a:hover {
	color: white;
}

.navbar-nav:hover {
	
}
#empty1 {
	padding-top: 2.5%;
}

#empty {
	opacity: 0;
	padding-bottom: 20%;
}

#home {
	background-color: rgba(0, 14, 30, 0.95);
	padding-bottom: 20%;
}
#work {
	background-color: rgba(0, 14, 30, 0.95);
	padding-bottom: 20%;
}
#school {
	background-color: rgba(0, 14, 30, 0.95);
	padding-bottom: 20%;
}
#skills {
	background-color: rgba(0, 14, 30, 0.95);
	padding-bottom: 20%;
}
#contact {
	background-color: rgba(0, 14, 30, 0.95);
	padding-bottom: 10%;
}